name: {{ custom_model_name }}
targetType: "textgeneration"
type: "inference"

runtimeParameterDefinitions:
  - fieldName: dr_credential_name
    type: string
    defaultValue: {{ credential_name }}
    description: Name of the DataRobot credential containing the LLM API token

  - fieldName: {{ credential_name }}
    type: credential

  - field_name: azure_endpoint
    type: string
    description: "Base url for the Azure OpenAI API endpoint"
    defaultValue: {{ azure_endpoint }}

  - field_name: openai_api_version
    type: string
    description: "OpenAI api version"
    defaultValue: "{{ openai_api_version }}"

  - fieldName: prompt_feature_name
    type: string
    defaultValue: {{ prompt_feature_name }}
    description: Name of the feature in the prediction data containing the prompt

  - fieldName: target_feature_name
    type: string
    defaultValue: {{ target_feature_name }}
    description: Name of the target variable for the deployment
